*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 20%;
}

.stat{
    margin: 5px;
}

h1{
    margin-bottom: 5px;
}

.age{
    display: flex;
    align-items: flex-end;
}

.pna{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.img{
    width: 40px;
}